<head>
<link rel='stylesheet' href='http://fonts.googleapis.com/css?family=News+Cycle:400,700|Patua+One' type='text/css'>
<%= stylesheet_link_tag "css/main" %>
<%= stylesheet_link_tag "css/960" %>
<%= stylesheet_link_tag "css/960_12_col" %>

<title>Polarize</title>
</head>

<body>
<div id="container" class="container_12">
  <div class="grid_6">
    <h1>Learn about people's opinions from both sides,<br>
    <span class="positive-title">positive</span> and
    <span class="negative-title">negative</span>.</h1>
  </div>
  <div class="grid_6">
    <div class="grid_6 alpha omega">
      <h1>
        <%= link_to image_tag("logo.png"), {:action => 'index', :controller => 'home'} %>
      </h1>
    </div>
    <div class="clear"></div>
    <div class="grid_6 alpha omega">
      <%= form_tag("/search", method: "get") do %>
        <div class="grid_4 alpha"><div id="query" type="text" name="query" autofocus><%= text_field_tag(:query) %></div></div>
        <div class="grid_2 omega"><input id="submit" type="Submit" class="whitebutton" value="Polarize!"></div>
        <div class="clear"></div>
        <div id="hint" class="grid_6 alpha omega" >Try "Obamacare" or "Vim vs. Emacs"</div>
      <% end %>
    </div>
  </div>
  <div class="clear"></div>

</div>
</body>


<%= render :partial => "get_url.js" %>


